.loginPad{
    // backdrop-filter: blur(8px); 
    // background-color: rgba(255, 255, 255, 0.95);
    margin-top: 50px;
    border-radius: 17px;
    min-height: 60vh; 
    background: #f0f2f5;
}

.loginForm{
    margin-top: 50px;
    padding-bottom: 39px;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.95);
}